/* BASIC */

html,
body {
    margin: 0;
}

html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

body {
    color: #515151;
    background-color: whitesmoke;
}

a {
    color: #268bd2;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

a:active {
    opacity: 0.5;
}

a:focus {
    text-decoration: underline;
}

.content a {
    color: #141414;
}

.sidebar a, .dark a {
    color: whitesmoke;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: bold;
    line-height: 1.25;
    text-rendering: optimizeLegibility;
}

h1 {
    font-size: 2rem;
}

h2 {
    margin-top: 1rem;
    font-size: 1.5rem;
}

h3 {
    margin-top: 1.5rem;
    font-size: 1.25rem;
}

h4, h5, h6 {
    margin-top: 1rem;
    font-size: 1rem;
}

/* Body text */
p {
    margin-top: 0;
    margin-bottom: 1rem;
}

/* Lists */
ul, ol, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

dt {
    font-weight: bold;
}
dd {
    margin-bottom: .5rem;
}

/* Misc */
hr {
    position: relative;
    margin: 1.5rem 0;
    border: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #fff;
}
abbr {
    font-size: 85%;
    font-weight: bold;
    color: #555;
    text-transform: uppercase;
}
abbr[title] {
    cursor: help;
    border-bottom: 1px dotted #e5e5e5;
}

.selectDisable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* SIDEBAR */

.sidebar {
    background-color: black;
    color: rgba(245, 245, 245, 0.5);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 8rem;
    text-align: center;
}

.sidebar-nav {
    margin-bottom: 1rem;
}

.sidebar-nav-item {
    display: block;
    line-height: 1.75;
}

.sidebar-social {
    padding: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 2rem;
    line-height: 2.5rem;
    display: inline-flex;
}

.sidebar-color {
    padding: 1rem;
    font-size: 3rem;
    line-height: 2.5rem;
    display: inline-flex;
    opacity: 85%;
}

.btn-social {
    padding-left: 2rem;
    padding-right: 2rem;
}

.footer {
    font-size: 0.8rem;
    opacity: 0.8;
    line-height: 4rem;
}

/* CONTENT */

.content {
    padding-left: 4rem;
    padding-right: 6rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
}

/* SCROLL BAR */

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* RESPONSIVENESS */

@media (min-width: 0px) { 
    html {
        font-size: 10px;
    }
    .sidebar {
        padding: 4rem;
        padding-top: 12rem;
        padding-bottom: 10rem;
    }
    .content {
        padding-top: 6rem;
        padding-right: 2rem;
        padding-left: 2rem;
        padding-bottom: 10rem;
    }
}

@media (min-width: 360px) { 
    html {
        font-size: 14px;
    }
    .sidebar {
        padding: 2rem;
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
    .content {
        padding-top: 4rem;
        padding-right: 2rem;
        padding-left: 2rem;
        padding-bottom: 10rem;
    }
}

@media (min-height: 808px) { 
    .sidebar {
        padding: 2rem;
        padding-top: 12rem;
        padding-bottom: 12rem;
    }
}

@media (min-width: 411px) { 
    html {
        font-size: 16px;
    }
    .sidebar {
        padding: 2rem;
        padding-top: 6rem;
        padding-bottom: 8rem;
    }
    .content {
        padding-top: 6rem;
        padding-right: 2rem;
        padding-left: 2rem;
        padding-bottom: 10rem;
    }
}

@media (min-height: 823px) { 
    .sidebar {
        padding: 2rem;
        padding-top: 8rem;
        padding-bottom: 8rem;
    }
}

@media (min-width: 1024px) {
    html {
        font-size: 16px;
    }
    .sidebar {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 22rem;
        overflow-y: auto;
        padding-top: 5rem;
        padding-bottom: 4rem;
    }
    .content {
        margin-right: 26rem;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}

@media (min-width: 1280px) {
    html {
        font-size: 18px;
    }
    .sidebar {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 22rem;
        overflow-y: auto;
        padding-top: 3rem;
        padding-bottom: 4rem;
    }
    .content {
        margin-right: 26rem;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}

/* NO SCRIPT */
.noscript{
    text-align: center;
}