.about {
  color: #ffffff;
  font-family: monospace;
  height: 10em;
  width: 55em;
  position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.navbar {
  font-family: monospace;
}

.bg-dark {
  background-color: black!important;
}