/* CUSTOMIZE THEMES */

/* DARK MODE */
.dark {
    background-color: #141414;
    color: whitesmoke;
}

/* YELLOW */
.theme-1 .sidebar {
    background-color: #f4bf75;
}
.theme-1 .content h1{
    color: #f4bf75;
}

/* ORANGE */
.theme-2 .sidebar {
    background-color: #d28445;
}
.theme-2 .content h1{
    color: #d28445;
}

/* GREEN */
.theme-3 .sidebar {
    background-color: #90a959;
}
.theme-3 .content h1{
    color: #90a959;
}

/* CYAN */
.theme-4 .sidebar {
    background-color: #75b5aa;
}
.theme-4 .content h1{
    color: #75b5aa;
}

/* BLUE */
.theme-5 .sidebar {
    background-color: #6a9fb5;
}
.theme-5 .content h1{
    color: #6a9fb5;
}

/* MAGENTA */
.theme-6 .sidebar {
    background-color: #aa759f;
}
.theme-6 .content h1{
    color: #aa759f;
}

/* RED */
.theme-7 .sidebar {
    background-color: #ac4142;
}
.theme-7 .content h1{
    color: #ac4142;
}